*{
	box-sizing: border-box;
	}
	
	.container {
		object-fit: cover;
	}
	
	body {
	  background-image: url("hsrwalp.png");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100%;
	}
	.navbar {
	  background-color: black;
	  margin-bottom: 50px;
	  color: #000000;
	  
	}
	
	
	.footer {
		background-color:transparent;
		padding: 20px 0;
		margin-top: 20px;
	  }
	  
	  .footer .container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	  }
	  
	  .footer .row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	  }
	  
	  .footer .col-md-4 {
		flex-basis: 33.33%;
		margin-bottom: 20px;
	  }
	  
	  .footer h5 {
		margin-top: 0;
	  }
	  
	  .footer ul {
		list-style: none;
		padding: 0;
		margin: 0;
	  }
	  
	  .footer li {
		margin-bottom: 10px;
	  }
	  
	  .footer a {
		color: white;
		text-decoration: none;
	  
	  }
	  
	  .footer a:hover {
		color:#942a7d;
	  }
	  
	  .footer-copyright {
		background-color:transparent;
		color: #ffffff;
		padding: 30px 0;
		text-align: center;
		clear: both;
		font-size: larger;
	  }
	
	  
	  body, html {
		height: 100%;
		margin: 0;
	  }
	  .wrapper {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	  }
	  .content {
		flex: 1;
	  }
	  .footer {   
		padding: 20px 0;
		text-align: center;
	  }
	
	
	.navbar-brand, .nav-link {
	  color: #fff !important;
	  
	}
	
	#myBtn {
	  display: none; /* Hidden by default */
	  position: fixed; /* Fixed/sticky position */
	  bottom: 20px; /* Place the button at the bottom of the page */
	  right: 30px; /* Place the button 30px from the right */
	  z-index: 99; /* Make sure it does not overlap */
	  border: none; /* Remove borders */
	  outline: none; /* Remove outline */
	  background-image: url(bg123.jpg);
	  background-size: 100%;
	  color: white; /* Text color */
	  cursor: pointer; /* Add a mouse pointer on hover */
	  padding: 15px; /* Some padding */
	  border-radius: 10px; /* Rounded corners */
	  font-size: 18px; /* Increase font size */
	}
	
	#myBtn:hover {
	  background-color: #555; /* Add a dark-grey background on hover */
	}
	
	
	* {box-sizing: border-box}
	.back-button button {
	  background-color: transparent; /* Make the background transparent */
	  border: none; /* Remove the default border */
	  color: white; /* Keep the text color consistent with surrounding text */
	  font-size: 16px; /* Adjust font size as needed */
	  cursor: pointer; /* Change cursor to pointer */
	  padding: 0; /* Remove default padding */
	  margin-right: 20px;
	}
	
	.back-button button:hover {
	  text-decoration: underline; /* Add underline on hover for better visibility */
	}



  .card {
    margin-top: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
  }

.col{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);	
}


/* Contact */

.contact-info-bg {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
  }

